*

!.gitignore
!.npmignore

!dom-module/
!dom-module/.gitignore
!event-module/
!event-module/.gitignore

!.github
!.github/**

!README.md
!AUTHORS
!LICENSE
!MAINTAINERS.md
!GOVERNANCE.md
!CONTRIBUTING.md
!CHANGELOG.md

!package.json
!pnpm-workspace.yaml

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/node_modules