*
!.gitignore
!.npmignore

!src
!src/main.js
!src/store.js
!types.d.ts

!tests/
!tests/**

!README.md
!AUTHORS
!LICENSE
!MAINTAINERS.md
!GOVERNANCE.md
!CONTRIBUTING.md
!CHANGELOG.md

!package.json
!tsconfig.json
!rollup.config.js